body{
	background-color: #000000;
	margin: 0px; 
    text-align: center;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.main{
   
}

.mainTitle{
    font-size: 40px;
    padding-top: 10px;
}

.mainBody{
	display: block;
	margin-bottom: 15px;
    height: 700px;
    background-image: url("palms.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.object{
	width: 550px;
	height: 550px;
    background-image: url("framed pic flat.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.dropText{
    font-size: 20px;
    position: absolute;
    top: 56px;
    right: 69px;
}

.drop:hover{
    transform: translateY(5px);
    cursor: pointer;
}

.drop{
    transition:transform 0.3s ease;
    background-image: url("drop.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 100px;
    position: relative;
    display: inline-block;
}
