body{
	background-color: #000000;
	margin: 0px; 
    text-align: center;
    color: white;
}

.main a{
    color: white;
    text-decoration: none;
}

.main{
   
}

.mainTitle{
    font-size: 40px;
    padding-top: 10px;
}

.mainBody{
	display: inline-block;
	margin-bottom: 15px;
    height: 700px;
    width: 100%;
    background-image: url("palms.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    position: relative;
}


    #slides,
    #slides2,
    #slides3,
    #slides4    {
      display: none;
    }

    #slides .slidesjs-navigation {
      margin-top:3px;
    }

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
        /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }


.module{
    width: 820px;
    height: 700px;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
}

.moduleLayout{
    width: 400px;
    height: 250px;
    position: relative;
    float: left;
}

.moduleTopLeft{
    background: rgba(255, 255, 255, 0.7);

    margin: 0 10px 10px 0;
}
.moduleTopRight{
    background: rgba(255, 255, 255, 0.7);
    margin: 0 0 10px 10px;
}

.moduleBottomLeft{
    background: rgba(255, 255, 255, 0.7);
    margin: 10px 10px 0 0;
}

.moduleBottomRight{
    background: rgba(255, 255, 255, 0.7);
    margin: 10px 0 0 10px;
}

.object{
	width: 550px;
	height: 550px;
    background-image: url("framed pic flat.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.dropText{
    font-size: 20px;
    position: absolute;
    top: 56px;
    right: 69px;
}

.drop:hover{
    transform: translateY(5px);
    cursor: pointer;
}

.drop{
    transition:transform 0.3s ease;
    background-image: url("drop.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 100px;
    position: relative;
    display: inline-block;
}
