body{
	background-color: #000000;
	margin: 0px; 
    text-align: center;
    color: white;
}
a { 
    color: inherit; 
    text-decoration: none;
} 

th, td {
   border: 5px solid black;
}

.setBW {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.bounce { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
} 

@keyframes bounce { 
    0% {transform: translateY(0);} 
    20% {transform: translateY(10px);} 
    30% {transform: translateY(7px);} 
    37% {transform: translateY(10px);} 
    42% {transform: translateY(9px);}
    47%{transform: translateY(10px);} 
    100%{transform: translateY(10px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

.mainBody{
	width: 1680px;
	height: 1032px;
	display: block;
    background-image: url("yin_yang_floor_by_manfox.gif");
	font-family: arial, sans-serif;
    background-position: center;
	margin-bottom: 15px;
}

.object{
    z-index: 2;
}

.tg  {
    border-collapse:collapse;
    border-spacing:0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.tg td{
    font-family:Arial, sans-serif;
    font-size:11px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}

.tg .tableTextFormat{
    vertical-align:top;
    text-align: left;
}

.tg .lookAtTitle{
    font-size:40px;
    text-align:center;
    vertical-align:top;
}


.pickUp:hover{
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        cursor: pointer;
}

.pickUp {
    transition:transform 0.3s ease;
    background-image: url("pickup.png");
    width: 120px;
    height: 170px;
    font-size: 14px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.pickUpText {
    padding: 68px 0px 0px 33px;
    font-size: 15px;
    width:30px;
}

.blackWhite {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.lookAtImage {
}

#conflict{
	width: 256px;
	height: 150px;
    background-image: url("knife_07.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 741.844px;
    top: 668.861px;
}

#conflictPanel .lookAtObject{
	width: 100px;
	height: 52px;
    background-image: url("knife_07.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#juxtaposition{
	width: 300px;
	height: 243px;
    background-image: url("framed pic flat.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 236.885px;
    top: 536.875px;
}

#juxtapositionPanel {
    width: 619px;
    height: 70px;
    position: absolute;
    top: -193px;
    left: -155px;
}

#juxtapositionPanel .lookAtImage{
    background-image: url("bottle.jpg");
    width: 268px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

#juxtapositionPanel .lookAtImageBW{
    background-image: url("face.jpg");
    width: 119px;
    height: 93px;
    background-size: contain;
    background-repeat: no-repeat;
}

#juxtaposition .pickUp {
    top: 180px;
    left: 147px;
}

.nature{
	width: 150px;
	height: 300px;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 1100px;
    top: 400px;
}

#passion{
	width: 200px;
	height: 130px;
    background-image: url("rose.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 598.979px;
    top: 346.99px;
}

#passionPanel {
    width: 619px;
    height: 70px;
    position: absolute;
    top: -202px;
    left: -241px;
}

#passionPanel .lookAtImage{
    background-image: url("bottle.jpg");
    width: 268px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

#passionPanel .lookAtImageBW{
    background-image: url("face.jpg");
    width: 119px;
    height: 93px;
    background-size: contain;
    background-repeat: no-repeat;
}

#passion .pickUp {
    top: 37px;
    left: 117px;
}

#inner{
	width: 200px;
	height: 70px;
    background-image: url("fingertrap.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 1318.97px;
    top: 686.948px;
}